<!DOCTYPE html>

<html lang="ar">
  
<%- include("./partials/head") %>

  <body id="body">
    <%- include("./partials/header") %>

    <main id="main">
      <section>
        <h1>Trending Articles &#128293;</h1>

        <div class="parent-of-articles">


<!-- item = tous les element de array -->
<% result.forEach( item => { %> 
          <article>
            <h2><%= item.title %> </h2>

            <p>
               <%= item.summary %> 

              <a class="btn" href="/article-details/<%= item._id %>  ">show more</a>
            </p>
          </article>

    <% }) %>     




        </div>
      </section>
    </main>

   
  </body>
</html>
